/*
 * Create a 3D button by overriding bootstrap's css
 * Sample: https://github.com/aditya2272sharma/dev-notes/blob/master/sample1.PNG
*/


.btn:before, .btn:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: inherit;
}
.btn:before {
    border-top: 5px solid #ffffff1c;
}
.btn:after {
    border-bottom: 5px solid #00000017;
}
